logfile.txt
proglogs/
.DS_Store
settings.json
.idea/
__pycache__/
.idea/workspace.xml
.idea/misc.xml

# Ignore virtual environment folders
venv/
myenv/
py3.9venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore other Python-related files
*.pyo
*.pyd
