logfile.txt
generate_image_ai.py
test_api_key.py
test_api_key.txt
test_api_key.json
.idea/

proglogs/
.DS_Store
settings.json
.idea/*.*
__pycache__/
.idea/workspace.xml
.idea/misc.xml

# Ignore virtual environment folders
venv/
myenv/
py3.9venv/
py3.12venv/
py3.10venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore other Python-related files
*.pyo
*.pyd
*.txt
